{#
/**
 * @file
 * Theme override to display node tags.
 * 
 * Requires Font Awesome.
 */
#}

<div{{ attributes.addClass('field_tags') }}>
  {% if not label_hidden %}
    <h2 class="h6 d-inline"><span class="fa fa-tags" aria-hidden="true"></span> {{ label }}:</h2>
  {% endif %}
  <ul class="list-inline d-inline">
    {% for item in items %}
      <li{{ item.attributes.addClass('list-inline-item') }}><a href="{{ item.content['#url']|render }}" class="badge badge-default">{{ item.content['#title'] }}</a></li>
    {% endfor %}
  </ul>
</div>