{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div {{ attributes.addClass("isu-social-menu-red", "isu-social-menu") }}>
  {{ title_prefix }}
  {% block content %}
{% for links content.field_social_media_links %}
	{% if 'facebook.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on Facebook }}" aria-label="{{ Follow us on Facebook }}"></a>
	{% elseif 'twitter.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on Twitter }}" aria-label="{{ Follow us on Twitter }}"></a>
	{% elseif 'linkedin.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on LinkedIn }}" aria-label="{{ Connect with us on Linked In }}"></a>
	{% elseif 'instagram.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on Instagram }}" aria-label="{{ Follow us on Instagram }}"></a>
	{% elseif 'pinterest.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on Pinterest }}" aria-label="{{ Find us on Pinterest }}"></a>
	{% elseif 'vimeo.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Watch 'site_name' on Vimeo }}" aria-label="{{ Watch our videos on Vimeo }}"></a>
	{% elseif 'youtube.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Watch 'site_name' on YouTube }}" aria-label="{{ Watch our videos on YouTube }}"></a>
	{% elseif 'snapchat.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Join 'site_name' on Snapchat }}" aria-label="{{ Follow us on Snapchat }}"></a>
	{% elseif 'libsyn.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Listen to 'site_name' on Libsyn }}" aria-label="{{ Listen to our podcast on Libsyn }}"></a>
	{% elseif 'podcasts.google.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Listen to 'site_name' on Google Podcasts }}" aria-label="{{ Listen to our podcast on Google }}"></a>
	{% elseif 'podcasts.apple.com' in url %}
		<a href="{{links['#url'] }}" title="{{ Listen to 'site_name' on Apple Podcasts }}" aria-label="{{ Listen to our podcast on Apple }}"></a>
{% endif %}



    
	{#}
	  {% for links in content.field_facebook_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
    {% if content.field_instagram_red %}
	  {% for links in content.field_instagram_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
    {% if content.field_linked_in_red %}
	  {% for links in content.field_linked_in_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
    {% if content.field_pinterest_red %}
	  {% for links in content.field_pinterest_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
    {% if content.field_twitter_red %}
	  {% for links in content.field_twitter_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
	{% if content.field_vimeo_red %}
	  {% for links in content.field_vimeo_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
	{% endif %}
    {% if content.field_youtube_red %}
	  {% for links in content.field_youtube_red %}
	    {% if links['#url'] %}
		  <a href="{{ links['#url'] }}" title="{{ links['#title'] | split(' ')[0] }}"></a>
		{% endif %}
	  {% endfor %}
    {% endif %}
	{{ content | without('field_facebook_red', 'field_instagram_red', 'field_linked_in_red', 'field_pinterest_red',
	'field_twitter_red', 'field_vimeo_red', 'field_youtube_red') }}
	#}
	{{ title_suffix }}
  {% endblock %}
</div>

