{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}
  <div class="bean-card">
    {% if content.field_image_card_url.0['#url'].toString() is not empty %}
	  <a class="bean-card_link" href="{{ content.field_image_card_url.0['#url'] }}">
	{% endif %}

	    <div class="bean-card_img">
	  	{{ content.field_image_card_image }}
	    </div>

	    <div class="bean-card_label {{ content.field_image_card_text_size[0] }} {{ content.field_image_card_color_style[0] }}">
	  	{% if content.field_image_card_icon.0 %}
	  	  {{ content.field_image_card_icon.0 }}	
	  	{% endif %}
	  	<p>{{ content.field_image_card_title[0] }}</p>
	    </div>

    {% if content.field_image_card_url.0['#url'].toString() is not empty %}
	  </a>
	{% endif %}
  </div>
{% endblock %}

