{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}
    {% if content.field_color_style[0] %}
        {% if content.field_content_card_image[0] is not null %}
            <div class="bean-card {{content.field_color_style[0]}}">
                <a class="bean-card_link" href="{{content.field_content_card_url.0['#url']}}">
                    <div class="bean-card_img">
                        {{content.field_content_card_image}}
                    </div>
                    <div class="bean-card_label">
                        <p class="{{content.field_text_size[0]}} fa {{content.field_icon[0]}}">{{content.field_content_card_title[0]}}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="bean-card_text {{content.field_color_style[0]}}">
                <div class="bean-card_label bean-card_overlay_top">
                    <p class="{{content.field_text_size[0]}} fa {{content.field_icon[0]}}">{{content.field_content_card_title[0]}}</p>
                </div>
                <div class="bean-card_body">
                    {{content.body[0]}}
                </div>
            </div>
        {% endif %}

    {% else %}
        {{content}}
    {% endif %}
  {% endblock %}
