{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% block content %}

  <div {{ attributes.addClass("isu-lblock") }}>
    {% if content.field_lblock_link01.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link01.0['#url'] }}">
  	    {% if content.field_lblock_icon01 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon01 }} {# maybe append .0 so there are not two divs #}
		  </div>
  	    {% endif %}
	  	<p>{{ content.field_lblock_link01.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {% if content.field_lblock_link02.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link02.0['#url'] }}">
  	    {% if content.field_lblock_icon02 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon02 }}
		  </div>
  	    {% endif %}
	  	<p>{{ content.field_lblock_link02.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {% if content.field_lblock_link03.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link03.0['#url'] }}">
  	    {% if content.field_lblock_icon03 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon03 }}
		  </div>
  	    {% endif %}
	  	<p>{{ content.field_lblock_link03.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {% if content.field_lblock_link04.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link04.0['#url'] }}">
  	    {% if content.field_lblock_icon04 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon04 }}
		  </div>
		{% endif %}
	  	<p>{{ content.field_lblock_link04.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {% if content.field_lblock_link05.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link05.0['#url'] }}">
  	    {% if content.field_lblock_icon05 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon05 }}
		  </div>
  	    {% endif %}
	  	<p>{{ content.field_lblock_link05.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {% if content.field_lblock_link06.0['#title'] %}
  	  <a class="links_block_field" href="{{ content.field_lblock_link06.0['#url'] }}">
  	    {% if content.field_lblock_icon06 %}
		  <div {{ attributes.addClass("icon_block_field") }}>
  	        {{ content.field_lblock_icon06 }}
		  </div>
  	    {% endif %}
	  	<p>{{ content.field_lblock_link06.0['#title'] }}</p>
  	  </a>
    {% endif %}
    {{ title_suffix }}
  </div>

{% endblock %}
