{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% for type, messages in message_list %}

  {# 
    Add a class if the alert appears on the front. A function in the
    iastate_theme base theme allows is_front to be used anywhere.
  #}
  {% 
    set alert_front = [ 
      is_front ? 'isu-alert_front' : '', 
      'container',
      'p-0'
    ] 
  %}

  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label').addClass(alert_front) }}>

    {% if type == 'status' %}

      <div role="alert" class="alert alert-success">

    {% elseif type == 'warning' %}

      <div role="alert" class="alert alert-warning">

    {% elseif type == 'error' %}

      <div role ="alert" class="alert alert-danger">

    {% else %}

      <div role="alert" class="alert alert-info">

    {% endif %}

    {% if status_headings[type] %}
      <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
    {% endif %}

    {% if messages|length > 1 %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ messages|first }}
    {% endif %}

    </div>
  </div>
{% endfor %}
