{#
/**
 * @file
 * Parital template to include the footer and its regions.
 *
 * Regions:
 * - page.footer_first: Items for first footer region
 * - page.footer_second: Items for second footer region
 * - page.footer_third: Items for third footer region
 * - page.footer_fourth: Items for fourth footer region
 * - page.sign_off: For small end-of-page items.
 *
 */
#}

<footer role="contentinfo" class="isu-footer" aria-label="Footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-3">

        {% if page.footer_first %}
          {{ page.footer_first }}
        {% endif %}

		{% if default_footer_logo %}
		  {% set iastate_footer_logo_path = 'themes/custom/iastate_theme/images/wordmark-stacked.svg' %} 
		  {% set iastate_footer_logo_url = 'https://www.extension.iastate.edu' %}
		  {% set iastate_footer_logo_alttext = 'Iowa State University Extension and Outreach' %}
		{% endif %}

        {% if iastate_footer_logo_path %}
          {% if iastate_footer_logo_url %}
            <a href="{{ iastate_footer_logo_url }}">
          {% endif %}
              <img class="isu-footer-logo" src="{{ base_path }}{{ iastate_footer_logo_path }}" class="wordmark-isu" alt="{{ iastate_footer_logo_alttext }}">
            </a>
        {% endif %}

		<div class="isu-social-menu-footer isu-social-menu">
          <a href="https://www.facebook.com/iowastateuniversityextension"></a>
          <a href="https://instagram.com/isuextension"></a>
          <a href="https://www.linkedin.com/company/iowa-state-university-extension-and-outreach?trk=nmp_rec_act_company_name"></a>
          <a href="https://pinterest.com/isuextension/"></a>
          <a href="https://twitter.com/isuextension"></a>
          <a href="https://youtube.com"></a>
        </div>

		<ul class="isu-associates-menu">
          {% if iastate_associate1_title %}
            <li><a href="{{ iastate_associate1_url }}">{{ iastate_associate1_title }}</a></li>
          {% endif %}
          {% if iastate_associate2_title %}
            <li><a href="{{ iastate_associate2_url }}">{{ iastate_associate2_title }}</a></li>
          {% endif %}
          {% if iastate_associate3_title %}
            <li><a href="{{ iastate_associate3_url }}">{{ iastate_associate3_title }}</a></li>
          {% endif %}
          {% if iastate_associate4_title %}
            <li><a href="{{ iastate_associate4_url }}">{{ iastate_associate4_title }}</a></li>
          {% endif %}
          {% if iastate_associate5_title %}
            <li><a href="{{ iastate_associate5_url }}">{{ iastate_associate5_title }}</a></li>
          {% endif %}
          {% if iastate_associate6_title %}
            <li><a href="{{ iastate_associate6_url }}">{{ iastate_associate6_title }}</a></li>
          {% endif %}
        </ul>

      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">

        {% if page.footer_second %}
          {{ page.footer_second }}
        {% endif %}

		{% if default_copyright %}
		  {# using merge filter to apply to value key of copyright_subject array (cannot use copyright_subject.value for set) #}
		  {# Referenced: https://craftcms.stackexchange.com/questions/23932/unexpected-token-punctuation-of-value-end-of-statement-block-expected #}
		  {% set copyright_subject = copyright_subject|merge({'value': '
			Copyright © 1995-2021<br>
		  	<a href="https://www.iastate.edu/">Iowa State University of Science and Technology.</a> All rights reserved.<br>
		  	2150 Beardshear Hall<br>
		  	Ames, IA 50011-2031<br>
		  	(800) 262-3804<br><br>
		  	<a href="https://www.iastate.edu/">Iowa State University</a> | <a href="https://www.extension.iastate.edu/legal">Policies</a><br>
		  	<a href="http://nifa.usda.gov/partners-and-extension-map">State & National Extension Partners</a>
		  ' }) %}
		{% endif %}

        {% if footer2_file_exists %}
          {% autoescape false %}
            {{ footer2_file_contents }}
          {% endautoescape %}
        {% else %}
          <p class="isu-copyright">
			{# filters to remove 'non-breaking space' characters, this is necessary for newlines to work with wysiwyg #}
			{# could potentially be done better but idk #}
			{{ copyright_subject.value|replace({'&nbsp;': '<br>'})|striptags('<a><br>')|raw }}
          </p>
        {% endif %}
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">

        {% if page.footer_third %}
          {{ page.footer_third }}
        {% endif %}

      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">

        {% if page.footer_fourth %}
          {{ page.footer_fourth }}
        {% endif %}

      </div>
    </div>
  </div>

  {% if page.sign_off %}
    <div class="isu-sign-off_wrapper">
      <div class="container">
        {{ page.sign_off }}
      </div>
    </div>
  {% endif %}
</footer>
