{#
/**
 * @file
 * Parital template to include the footer and its regions.
 *
 * Regions:
 * - page.footer_first: Items for first footer region
 * - page.footer_second: Items for second footer region
 * - page.footer_third: Items for third footer region
 * - page.footer_fourth: Items for fourth footer region
 * - page.sign_off: For small end-of-page items.
 *
 */
#}

<footer role="contentinfo" class="isu-footer" aria-label="Footer">
  <div class="container">
    <div class="row">
      {% if page.footer_first %}
        <div class="col-sm-6 col-md-6 col-lg-3">
          {{ page.footer_first }}
        </div>
      {% endif %}

      {% if page.footer_second %}
        <div class="col-sm-6 col-md-6 col-lg-3">
          {{ page.footer_second }}
        </div>
      {% endif %}

      {% if page.footer_third %}
        <div class="col-sm-6 col-md-6 col-lg-3">
          {{ page.footer_third }}
        </div>
      {% endif %}

      {% if page.footer_fourth %}
        <div class="col-sm-6 col-md-6 col-lg-3">
          {{ page.footer_fourth }}
        </div>
      {% endif %}
    </div>

    {% if page.sign_off %}
      <div>
        {{ page.sign_off }}
      </div>
    {% endif %}
  </div>
</footer>