{#
/**
 * @file
 * Theme override to display a list of forums and containers.
 *
 * Available variables:
 * - forums: A collection of forums and containers to display. It is keyed to
 *   the numeric IDs of all child forums and containers. Each forum in forums
 *   contains:
 *   - is_container: A flag indicating if the forum can contain other
 *     forums. Otherwise, the forum can only contain topics.
 *   - depth: How deep the forum is in the current hierarchy.
 *   - zebra: 'even' or 'odd', used for row class.
 *   - icon_class: 'default' or 'new', used for forum icon class.
 *   - icon_title: Text alternative for the forum icon.
 *   - name: The name of the forum.
 *   - link: The URL to link to this forum.
 *   - description: The description field for the forum, containing:
 *     - value: The descriptive text for the forum.
 *   - new_topics: A flag indicating if the forum contains unread posts.
 *   - new_url: A URL to the forum's unread posts.
 *   - new_text: Text for the above URL, which tells how many new posts.
 *   - old_topics: A count of posts that have already been read.
 *   - num_posts: The total number of posts in the forum.
 *   - last_reply: Text representing the last time a forum was posted or
 *     commented in.
 * - forum_id: Forum ID for the current forum. Parent to all items within the
 *   forums array.
 *
 * @see template_preprocess_forum_list()
 */
#}

<div class="isu-forum">
  <table class="table table-bordered table-striped mt-3 isu-forum-table">
    <thead>
      <tr>
        <th>{{ 'New'|t }}</th>
        <th>{{ 'Forum'|t }}</th>
        <th>{{ 'Topics'|t }}</th>
        <th>{{ 'Posts'|t }}</th>
        <th>{{ 'Last post'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for child_id, forum in forums %}

      <tr{% if forum.new_topics == true %} class="table-success"{% endif %}>

        {# First Column - New Posts #}
        <td>
          <div class="text-center">
          {% if forum.new_topics == true %}
            <a href="{{ forum.new_url }}">
              <i class="fa fa-comment"></i>
              <span class="visually-hidden">{{ forum.new_text }}</span>
            </a>
          {% else %}
            <i class="fa fa-comment-o"></i>
          {% endif %}
        </div>

        </td>

        {# Second Column - Board Name #}
        <td{% if forum.is_container == true %} colspan="4"{% endif %}>
        
        {% for i in 1..forum.depth if forum.depth > 0 %}
          <div class="isu-forum_indented">
        {% endfor %}
          <div><a href="{{ forum.link }}">{{ forum.label }}</a></div>
        
        {% if forum.description.value %}
          <div>{{ forum.description.value }}</div>
        {% endif %} 
        </td>

        {% if forum.is_container == false %}

          {# Third Column - Topic Count #}
          <td class="text-center">{{ forum.num_topics }}</td>

          {# Fourth Column - Post Count #}
          <td class="text-center">{{ forum.num_posts }}</td>

          {# Fifth Column - Last Reply #}
          <td class="isu-forum_last-reply">{{ forum.last_reply }}</td>

        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>